/* TEMA CLARO */
.tema-claro {
  background: #f8f9fa;
  color: black;
}

/* PRODUCTOS */
.producto-card {
  background: white;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.producto-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* PRECIO */
.precio {
  color: green;
  font-weight: bold;
}

/* STOCK */
.stock {
  font-size: 14px;
}

.sin-stock {
  color: red;
  font-weight: bold;
}

/* CARRITO */
.carrito-fijo {
  position: fixed;
  top: 80px;
  right: 10px;
  width: 250px;
  z-index: 1000;
}

/* MODO OSCURO (MERCADO NEGRO) */
.tema-oscuro {
  background: #121212 !important;
  color: white !important;
}

.tema-oscuro .card {
  background: #1c1c1c !important;
  color: white;
}